<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Flask HTMX Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
