{% extends "base.j2.html" %}

{% block title %}My Todo List{% endblock %}

{% block content %}
<!-- Header -->
<div class="row mb-4">
    <div class="col">
        <h1 class="display-4 text-center">My Todo List</h1>
    </div>
</div>

<!-- Add Todo Form -->
<div class="row justify-content-center mb-4">
    <div class="col-md-8">
        {% include "fragments/_todo_form.j2.html" %}
    </div>
</div>

<!-- Todo List -->
<div class="row justify-content-center">
    <div class="col-md-8">
        {% include "fragments/_todo_list.j2.html" %}
    </div>
</div>
{% endblock %}
